# Add any directories, files, or patterns you don't want to be tracked by version control
.gitignore
/.metadata/
/.idea/
.metadata/
.idea/
.metadata/*
.idea/*
*.class
workspace.xml

#################
## Java
#################
*.jar
*.war
*.ear

#################
## Eclipse
#################
*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

#################
## IntelliJ
#################
*.iml

# Build results
out/
target/

#Merge temp files
*.orig

# Logs
logs/
*.log

#################
## Test files
#################
*Test*
*test*
